.textoRoxo{
	color:#800080;
}
.textoCentralizado{
	text-align: center;
}

header :first-child{
	background-color: #800080;
}
.navbar-inverse .navbar-nav>li>a{
	color:#fff;
}

.altura{
	min-height:520px;
}

.tamanho{
	width:400px;
}
.fundoRoxo{
	background-color: #800080;
}

.corpo{
	height:500px;
}
footer{
	background-color: #800080;
	color:#ffffff;
	height:50px;
	line-height:50px;
	text-align: center;
}