<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorator="layout">
	<head>
		<meta charset="UTF-8"/>
		<title>Add Item</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  />
		<link rel="stylesheet" type="text/css" href="/css/site.css" />
		<script src="common-script.js"></script>
	</head>
	<body>

		<div layout:fragment="content" class="margem-top-min centralizar">
			<form th:action="@{/itens/manter}" th:object="${item}" method="post">
				<div class="container-form">
				<h3 class="textoRoxo" th:if="${mensagem}" th:text="${mensagem}"></h3>
				<h1 class="textoRoxo textoCentralizado">Adicionar itens</h1>
					<div class="form-group" th:classappend="${#fields.hasErrors('idPedido')} ? 'has-error'">
						<input class="form-control" th:field="*{idPedido}" type="hidden" />
						<span class="help-inline" th:errors="*{idPedido}"></span>
					</div>
				
		            <div class="form-group">
				 		<label>Material: </label>
						<select class="form-control" th:field="*{idMaterial}">
					           <option th:each="material : ${materiais}" th:text="${material.descricao}" th:value="${material.idMaterial}" ></option>
				        </select>
				        <span class="help-inline" th:errors="*{idMaterial}"></span>
			   		 </div>
				            
				    <div class="form-group">
						<label>Servico: </label>
						<select class="form-control" th:field="*{idServico}">
						       <option th:each="servico : ${servicos}" th:text="${servico.descricao}" th:value="${servico.idServico}" ></option>
						</select>
						<span class="help-inline" th:errors="*{idServico}"></span>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('peso')} ? 'has-error'">
				 		<label>Peso: </label>
				 		<input class="form-control" th:field="*{peso}" type="text"/>
				 		<span class="help-inline" th:errors="*{peso}"></span>
			 		</div>
					
				</div>
				<button class="btn btn-primary" type="submit">Incluir</button>
				<a href="/pedido" class="btn btn-primary">Salvar</a>
			</form>	
		</div>
	</body>
</html>