<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>Index</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row line-height">
			<div class="text-center col-md-6">
		<h1 class="textoRoxo displayInline">Olá, </h1>
		<h1 class="textoRoxo displayInline" th:text="${#authentication.name}" sec:authorize="isAuthenticated()"></h1>
		<h1 class="textoRoxo displayInline">! Seja bem vindo!</h1> 
		</div>
		<img th:src="@{/images/roupa.jpg}" class="imagem"/>
		
		</div>
		
		
	</div>
</body>
</html>