<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Login</title>
</head>
<body>

	<div layout:fragment="content">
	<div class="row">
	<div class="col-md-offset-4 col-md-4" >		
		<h2 class="textoRoxo textoCentralizado">Login</h2>
		<form name="form" th:action="@{/login}" action="/login" method="POST">
			<div class="form-group">
			<input type="text" name="username" placeholder="Username" class="form-control"/> 
			<input type="password" name="password" placeholder="Password" class="form-control"/> 
			</div>
			<button	type="submit" id="login" class="btn btn-primary">Login</button>
		</form>
		<br/>
		<p th:if="${param.logout}" class="alert alert-success">Logout
			efetuado com sucesso</p>
		<p th:if="${param.error}" class="alert alert-danger">Login
			incorreto. Tente novamente !</p>
		
		
		</div>
	</div>
	</div>

</body>
</html>