
@{
    ViewBag.Title = "NaoPermitidoLocar";
}

<h2>Erro!</h2>

<p>O Cliente já possui 3 ou mais jogos alugados. Favor devolver algum para poder locar outro!</p>

<a href="~/Locacao/DevolverJogo" class="btn btn-primary">Devolver Jogo</a>

