.textoRoxo{
	color:#800080;
}
.textoCentralizado{
	text-align: center;
}

nav{
	background-color: #800080;
	color: #ffffff;
	height:60px;
	line-height:60px;
}

.corpo{
	height:500px;
}
footer{
	background-color: #800080;
	color:#ffffff;
	height:50px;
	line-height:50px;
	text-align: center;
}