<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <!--add name="LOCADORA" connectionString="Server=(LOCALDB)\v11.0;Database=locadoracrescer;Trusted_Connection=True;"  /-->
    <add name="LOCADORA" connectionString="NB-002682\SQLEXPRESS;Database=locadoracrescer;User Id=sa;Password=Crescer$5;"/>
    
  </connectionStrings>
</configuration>
