<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Editar Cliente</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<h2 class="textoCentralizado textoRoxo">Editar Cliente</h2>
				<form th:action="@{/clientes/editar}" th:object="${cliente}"
					method="post">
					<div class="container-form textoRoxo">
						<div class="form-group">
							<input th:field="*{id}" type="hidden" />
						</div>
						<div class="form-group">
							<label class="control-label">Nome: </label> <input
								class="form-control" th:field="*{nome}" type="text" />
						</div>
						<div class="form-group">
							<label class="control-label">CPF: </label> <input
								class="form-control" th:field="*{cpf}" type="text" />
						</div>
						<div class="form-group">
							<label class="control-label">Endereco: </label> <input
								class="form-control" th:field="*{endereco}" type="text" />
						</div>
						<div class="form-group">
							<label class="control-label">Bairro: </label> <input
								class="form-control" th:field="*{bairro}" type="text" />
						</div>
						<div class="form-group">
							<label class="control-label">Cep: </label> <input
								class="form-control" th:field="*{cep}" type="text" />
						</div>
						<div class="form-group">
							<label class="control-label">Email: </label> <input
								class="form-control" th:field="*{email}" type="text" />
						</div>
						<div class="form-group">
							<label class="control-label">Cidade: </label> <select
								class="form-control" th:field="*{idCidade}">
								<option th:each="cidade : ${cidades}" th:text="${cidade.nome}"
									th:value="${cidade.idCidade}"></option>
							</select>
						</div>
					</div>
					<button class="btn btn-primary" type="submit"
						style="background-color: #800080;">Salvar</button>
					<a class="btn btn-primary" href="/clientes"
						style="background-color: #800080;">Cancelar</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>