<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<title>Editar Cliente</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<h2 class="textoCentralizado textoRoxo">Editar Cliente</h2>
				<form th:action="@{/clientes/editar}" th:object="${cliente}"
					method="post">
					<div class="container-form textoRoxo">
						<div class="form-group">
							<input th:field="*{id}" type="hidden" />
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
							<label class="control-label">Nome: </label> <input
								class="form-control" th:field="*{nome}" type="text" /> <span
								class="help-inline" th:errors="*{nome}"></span>
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('cpf')}? 'has-error'">
							<label class="control-label">CPF: </label> <input
								class="form-control" th:field="*{cpf}" type="text" /> <span
								class="help-inline" th:errors="*{cpf}"></span>
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('email')}? 'has-error'">
							<label class="control-label">Email: </label> <input
								class="form-control" th:field="*{email}" type="text" /> <span
								class="help-inline" th:errors="*{email}"></span>
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('endereco')}? 'has-error'">
							<label class="control-label">Endereço: </label> <input
								class="form-control" th:field="*{endereco}" type="text" /> <span
								class="help-inline" th:errors="*{endereco}"></span>
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('bairro')}? 'has-error'">
							<label class="control-label">Bairro: </label> <input
								class="form-control" th:field="*{bairro}" type="text" /> <span
								class="help-inline" th:errors="*{bairro}"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Cep: </label> <input
								class="form-control" th:field="*{cep}" type="text" />
						</div>
						<div class="form-group">
							<label class="control-label">Cidade: </label> <select
								class="form-control" th:field="*{idCidade}">
								<option th:each="cidade : ${cidades}" th:text="${cidade.nome}"
									th:value="${cidade.idCidade}"></option>
							</select>
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('situacao')}? 'has-error'">
							<label class="control-label"> Situação: </label> <select
								th:field="*{situacao}">
								<option
									th:each="situacao: ${T(br.com.cwi.crescer.domain.Cliente.SituacaoCliente).values()}"
									th:value="${situacao}" th:text="${situacao}"></option>
							</select> <span class="help-inline" th:errors="*{situacao}"></span>
						</div>
					</div>
					<button class="btn btn-primary" type="submit"
						style="background-color: #800080;">Salvar</button>
					<a class="btn btn-primary" href="/clientes"
						style="background-color: #800080;">Cancelar</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>