<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Listagem de Clientes</title>
</head>
<body>
	<div layout:fragment="content">
		<h3 class="textoRoxo" th:if="${mensagem}" th:text="${mensagem}"></h3>
		<h1 class="textoCentralizado textoRoxo">Listagem de Clientes</h1>

		<div th:if="${not #lists.isEmpty(clientes)}">

			<table class="table textoRoxo">

				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>CPF</th>
					<th>Email</th>
					<th>Visualizar</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.id}"><a
						th:href="@{|/clientes/${cliente.id}|}"></a></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.cpf}"></td>
					<td th:text="${cliente.email}"></td>
					<td><a th:href="${ '/clientes/' + cliente.id}"
						class="btn btn-primary" style="background-color: #800080;">Visualizar</a></td>
					<td><a th:href="${'/clientes/editar/' + cliente.id}"
						class="btn btn-primary" style="background-color: #800080;">Editar</a></td>
					<td><a th:href="${'/clientes/remover/' + cliente.id}"
						class="btn btn-primary" style="background-color: #800080;">Remover</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>