<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Remove</title>
</head>
<body>
	<h2>Tem Certeza que deseja remover o seguinte cliente?</h2>
	<form th:action="@{/clientes/remover}" th:object="${cliente}"
		method="post">

		<p>
			<label>ID: </label> <input th:field="*{id}" type="text"
				disabled="disabled" />
		</p>

		<p>
			<label>Nome: </label> <input th:field="*{nome}" type="text"
				disabled="disabled" />
		</p>

		<p>
			<label>CPF: </label> <input th:field="*{cpf}" type="text"
				disabled="disabled" />
		</p>

		<p>
			<label>Email: </label> <input th:field="*{email}" type="text"
				disabled="disabled" />
		</p>

		<p>
			<label>Endereco: </label> <input th:field="*{endereco}" type="text"
				disabled="disabled" />
		</p>
		<p>
			<label>Bairro: </label> <input th:field="*{bairro}" type="text"
				disabled="disabled" />
		</p>


		<p>
			<label>CEP:</label> <input th:field="*{cep}" type="text" />
		</p>

		<p>
			<label>Cidade: </label> <select th:field="*{idCidade}"
				disabled="disabled">
				<option th:each="c : ${cidades}" th:text="${c.nome}"
					th:value="${c.idCidade}"></option>
			</select>
		</p>
		<button type="submit">Salvar</button>

	</form>
	<a th:href="${ '/clientes/'}">Cancelar</a>
</body>
</html>