@{
    ViewBag.Title = "Página Inicial";
}
<div class="row">
    <div class="col-lg-6 col-md-6">
        <br />
        <br />
        <br />
        <h4 class="justifica glyphicon-fire">Locadora feita exclusivamente para o Reino de Ooo! </h4>

        <h4 class="justifica glyphicon-fire"> Aqui você pode alugar "Guardiões do Brilho do Sol" e derrotar o Dorminhoco!</h4>

        <h4 class="justifica glyphicon-fire">Também temos "Guerra de Cartas" para aluguel</h4>
        <br />
        <br />
        <br />
        <div class="fb-like"></div>
    </div>
    <div class="col-lg-6 col-md-6 text-center">
        <img src=@Url.Content("~/Content/images/adventureTime.png") />
    </div>

</div>
<div class="row">
    <div class="col-lg-4 col-md-4">
        <form action='@Url.Action("JogosDisponiveis","Relatorio")' method="get">
            <input type="text" placeholder="Buscar jogo por nome" name="nome" />
            <button class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <div class="col-lg-4 col-md-4">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("JogosDisponiveis","Relatorio")'">Relatório de Todos os Jogos</button>
    </div>
</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5&appId=203079926424316";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
