<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<title>Selecionar Clientes</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="textoCentralizado textoRoxo">Selecionar Cliente</h1>
		<div class="row">
			<div class="col-md-10">
				<form class="form-group" th:action="@{/pedido/novo}"
					th:object="${String}">
					<div class="row">
						<div class="col-md-2">
							<label>Digite um nome:</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="nome" name="nome" />
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary form-control">Pesquisar</button>
						</div>


					</div>
				</form>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(clientes)}">

			<table class="table textoRoxo">

				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>CPF</th>
					<th>Selecionar</th>
				</tr>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.id}"><a
						th:href="@{|/clientes/${cliente.id}|}"></a></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.cpf}"></td>
					<td><a th:href="${ '/pedido/novo/' + cliente.id}"
						class="btn btn-primary" style="background-color: #800080;">Selecionar</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>